@media screen and (max-width: 768px) {
	body {
		font-size: 1em;
		text-align: center;
		word-wrap: break-word;
		display: absolute;
		max-width: 768px;
		}
	header ul {
		display: block;
		font-size: 25px;
		margin: 2%;
		}
	footer {
		height: 8%;
		}	
	.gridContainerVideo {
		max-width: 100%;
		max-height: auto;
		display: block;
		margin: 0%;
		padding: 0px;
		text-align: center;
	 }
	 .gridContainerMusic {
		display: inline-grid;
		grid-template-columns: auto auto auto;
		margin: 0px auto;
	}
	.gridMusic1 {
		grid-column: 1;
		grid-row: 1;
	}
	.gridMusic2 {
		grid-column: 2;
		grid-row: 1;
	}
	.gridMusic3 {
		grid-column: 1;
		grid-row: 2;
	}
	.gridMusic4 {
		grid-column: 2;
		grid-row: 2;
	}
	.gridMusic5 {
		grid-column: 1;
		grid-row: 3;
	}
	.gridMusic6 {
		grid-column: 2;
		grid-row: 3;
	}
}